* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    font-size: 16px;
    margin:0;
    padding:0;
    width: 100%;
    background-color: #fdfdcb;
    line-height: 1.6;
}
   
root{
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: pink;
    color: #333;
}
.App {
   min-height: 100vh;
   background-color: #fdfdcb;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    background-color: #fdfdcb;
    color: white;
    padding: 20px;
    text-align: center;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
}
.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.project-image{
width: 100%;
height: auto;
max-width: 140px;
object-fit: cover;
display: block;
margin: 0 auto;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.btn.button.me-2 {
    background-color: #ffdcf5;
    color: #4a4a48;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn.button_live {
    background-color: #f6c523;
    color: #4a4a48;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.badge-image{
    width: 100%;
    height: auto;
    max-width: 160px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.network-security-image{
    max-width: 80%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
}

.contact-row {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.project-image {
    height: 280px;
    object-fit: cover;
    width: 70%;
    border-radius: 8px 8px 0 0;
}
.card.text-center {
  height: 320px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.offensive-security-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
@media (max-width: 600px) {
  .contact-row {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 768px) {
    footer {
      padding: 10px;
    }
  
    footer img {
      width: 16px;
      margin-right: 5px;
    }
  
    footer h2 {
      font-size: 1.2rem;
    }

    footer a {
        font-size: 0.8rem;
    }
  }
  @media (min-width: 992px) { 
  .offensive-security-image {
    max-width: 200px; 
  }
}